@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';
@import 'tailwindcss';
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
/* 선택적 사용자 정의 스타일 */
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#app-wrapper {
  max-width: 375px;
  width: 100%;
}

@theme {
  --color-primary: #fa812f;
  --color-secondary: #fa4032;
}
@layer base {
  :root {
    --z-button: 10;
  }
}

@layer components {
  .my-swiper .swiper-pagination {
    @apply !top-5 h-0 w-0;
  }
}
